{% extends 'base.html.twig' %}
{% block main %}
    {% block filters %}
    {% endblock %}
    <div class="container body-content">
        <div class="row">
            {% for city in cities %}
              <ul>
                  <li>
                     <a href="{{ path('page', {'city': city.name|lower, 'category': category, 'page':1})}}"> {{ city.name }} ({{ city.articles|length }}) </a>
                  </li>
              </ul>
            {% endfor %}
            {% if cities|length>0 %}
                <h3><a href="{{ path('page', {'city': 'all', 'category': category, 'page':1})}}">ALL OFFERS</a></h3>
            {% endif %}
        </div>
    </div>
    {% block pagination %}

    {% endblock %}

{% endblock %}
